{% extends 'index.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
<section class="mt-5 pt-3" style="background-color: #F2C14E; min-height: 700px; max-height: fit-content;">
    <!-- posts.html -->
    <div class="container mt-5 pb-5" style="max-width:700px;">
        <h2 class="mb-1" style="color: #0A3D62;">المنشورات</h2>

        <a href="{{url_for('share_post')}}" class="btn btn-success w-100 mt-3">أضف منشورا</a>

        {% for post in posts %}
        
            <div class="card mt-3">
                <div class="card-body rounded card_anim">
                    <a href="{{url_for('post', id=post.id)}}" style="text-decoration: none;">
                        <div class="mb-2">
                            <h2 class="mb-3 card-text" style="color: #F2C14E;">{{ post.title }}</h2>
                            <p class="mt-2 card-text border p-2 rounded" style="color: #F2C14E; width: max-content;">category : {{ post.category }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
        <p>ليس هناك اي منشورات</p>
        {% endfor %}
    </div>
</section>
{% endblock %}