{% extends 'index.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<section class="mt-5 pt-3">
    <div class="d-flex justify-content-center">
    <div class="card mt-3 ms-3" style="width: 300px; background-color: #F2C14E;">
        <div class="card-body">
            <div class="card-title" style="color: #0A3D62;">
                <div class="d-flex justify-content-between">
                    <h4>Users</h4>
                    <h4>{{users_num}}</h4>
                </div>
            </div>
            {% for user in users %}
            <a href="{{url_for('profile', id=user.id)}}"  style="text-decoration: none;">
            <div class="card mt-2 card_anim">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="card-title">
                        <p style="color: #F2C14E;">{{user.username}}</p>
                        </div>
                    </div>
                    <div class="card-header">
                        {% if user.is_active %}
                            <p style="color: greenyellow;">Active</p>
                        {% else %}
                            <p style="color: red;">not active</p>
                        {% endif %}
                    </div>
                    <div class="card-header">
                        <div class="card-btn">
                            {% if user.is_active %}
                            <a href="{{url_for('ban_user', id=user.id)}}" class="btn btn-outline-danger">
                                Ban
                            </a>
                            {% else %}
                            <a href="{{url_for('ban_user', id=user.id)}}" class="btn btn-outline-danger">
                                Unban
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </a>
            {% else %}
            <div class="card-text">
                <p>there is no user yet!</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card mt-3 ms-3" style="width: 300px; background-color: #F2C14E;">
        <div class="card-body">
            <div class="card-title" style="color: #0A3D62;">
                <div class="d-flex justify-content-between">
                    <h4>Posts</h4>
                    <h4>{{posts_num}}</h4>
                </div>
            </div>
            {% for post in posts %}
            <a href="{{url_for('post', id=post.id)}}"  style="text-decoration: none;">
                <div class="card mt-2 card_anim">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                            <p style="color: #F2C14E;">{{post.title}}</p>
                            </div>
                        </div>
                        <div class="card-header">
                            <p style="color: #F2C14E;">upvotes : {{post.upvotes}}</p>
                        </div>
                        <div class="card-header">
                            <p style="color: #F2C14E;">comments : {{post.comments|length}}</p>
                        </div>
                        <div class="card-header">
                            <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="card-text">
                <p>there is no user yet!</p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock %}