<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wa3ini | {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='Css/style.css') }}">
        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <meta property="og:title" content="Wa3eni" />
        <meta property="og:description" content="School initiative about students awareness" />
        <meta property="og:image" content="https://wa3eni.pythonanywhere.com/static/img/logo.png" />
        <meta property="og:url" content="https://wa3eni.pythonanywhere.com/" />
        <meta name="twitter:card" content="Wa3eni initiative website" />

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #1B3C73;">
            <div class="container">

                <!-- Brand -->
                <a class="navbar-brand fw-bold" href="{{url_for('home',_anchor='Hero-section')}}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"
                    alt="Logo"
                    width="35" height="35"
                    class="me-2 rounded-circle">
                    <span class="fw-bold" style="color: #F2C14E;">Wa3ini</span>
                </a>

                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto d-flex align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home',_anchor='Hero-section')}}">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home',_anchor='vision')}}">الرؤية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home',_anchor='awareness-topics')}}">ابعاد الوعي</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home',_anchor='progress')}}">تقدمنا</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('blog')}}">منتدى الطلاب</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('activities')}}">الانشطة</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('home',_anchor='about')}}">عن المبادرة</a>
                        </li>

                        {% if current_user.is_authenticated %}
                        {% if current_user.username == "admin" %}
                        <li class="nav-item">
                            <a class="btn btn-warning nav-link border-light" href="{{url_for('admin')}}">ادارة</a>
                        </li>
                        {% endif %}
                        <li class="nav-item d-flex align-items-center ms-3">
                            <a class="nav-link p-0" href="{{url_for('profile', id=current_user.id)}}">
                                <img src="{{ url_for('static', filename=current_user.img_url) }}"
                                    alt="{{user}}"
                                    width="40" height="40"
                                    class="rounded-circle p-1"
                                    style="border: 2px solid #F2C14E;">
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-warning nav-link border-light" href="{{url_for('login')}}">تسجيل الدخول</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>